<!--Left Panel-->
        <div class="left-panel" style="font-size: 14px;font-weight:bold">
            <div class="col-12 text-center" title="Home">
                <a href="/" class="">
                    <i class="fas fa-home"></i>
                </a>
            </div>
            <div class="divider">

            </div>
            <div class="col-12 text-center" title="News">
                <a href="/news" class="">
                    <i class="far fa-newspaper"></i>
                </a>
            </div>
            <div class="col-12 text-center" title="Trainings">
                <a href="/trainings" class="">
                    <i class="fas fa-calendar-week"></i>
                </a>
            </div>
            <div class="col-12 text-center" title="Gallery">
                <a href="~/gallery" class="">
                    <i class="fas fa-camera-retro"></i>
                </a>
            </div>
            <div class="col-12 text-center" title="Contacts">
                <a href="~/contacts" class="">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
            <div class="col-12 text-center" title="Events">
                <a href="~/events" class="">
                    <i class="far fa-clock"></i>
                </a>
            </div>
            <div class="col-12 text-center" title="Our Club">
                <a href="~/about" class="">
                    <i class="fas fa-info-circle"></i>
                </a>
            </div>
            <div class="col-12 text-center  mt-5 pt-5" title="Login">
                <a href="~/login" class="">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
            <div class="col-12 text-center" title="Register">
                <a href="~/register" class="">
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
            

        </div>