<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boxing Club Paphos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/fontawesome/css/all.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/favicon.ico" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</head>

<html>

<body>
    <!--Left Panel-->

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR3HB8F" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->


        <script>
            $(document).ready(function () {
                $(window).bind('scroll', function () {
                    var navHeight = 99;
                    if ($(window).scrollTop() > navHeight) {
                        $('.logo').addClass('navbar_fixed');
                        $('#hided').show();
                        $('#dbpad').show();
                    }
                    else {
                        $('.logo').removeClass('navbar_fixed');
                        $('#hided').hide();
                        $('#dbpad').hide();
                    }
                });
            });
        </script>

        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v3.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>


        <!--Left Panel-->
        <div class="left-panel" style="font-size: 14px;font-weight:bold">
            <a href="/" class="gallery-btn">
                Home
            </a>

            <a href="~/За-нас" class="search-btn">
                Our Club
            </a>

            <a href="~/Всички-Новини" class="gallery-btn">
                News
            </a>

            <a href="~/Всички-системи" class="search-btn">
                Events
            </a>

            <div class="btn-group dropright">
                <a type="button" class=" dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Trainings
                </a>
                <div class="dropdown-menu" onshow="trainingShow()">
                    <a class="dropdown-item search-button m-0" href="#">Current Week</a>
                    <a class="dropdown-item search-button m-0" href="#">Prices</a>
                    <a class="dropdown-item search-button m-0" href="#">Individual</a>
                </div>
        </div>

        <a href="~/Контакти" class="search-btn">
            Videos
        </a>

        <a href="~/Вход" class="search-btn">
            Partners
        </a>

        <a href="~/Home/ListMenuItems" class="search-btn">
            Media
        </a>

        <a class="mb-5" href="~/Регистрация" class="search-btn">
            Contact
        </a>


        <a href="~/Регистрация" class="search-btn">
            Login
        </a>
        <a href="user/register" class="search-btn">
            Register
        </a>
        </div>
        <!--End of Left Panel-->

        <div class="wrapper pl-0">
            <div class="row">
                <div class="content-holder col-md-10 col-lg-11 col-sm-10">

                    <header class="header-holder" id="header">
                        <div class="social-buttons">
                            <ul class="social">
                                <li><a href="https://www.facebook.com/Bimis-545385302596000" target="_blank"><i
                                            class="fab fa-facebook-square"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-12 " id="hided" style="min-height:75px;max-height:75px;display:none; "></div>
                        <div class="logo">
                            <a id="bimis" href="~/">
                                <img src="/images/Cyprus_240-animated-flag-gifs.gif" rel="shortcut icon"
                                    style="max-height:75px">
                                <img src="/images/boxing.gif">
                                <img src="/images/dimitar.gif">
                            </a>

                        </div>

                    </header>

                    <div class="offset-left" style="min-height:608px;">

                        {{{body}}}
                    </div>

                </div>
                <!--end col-md-8-->

                <div class="col-md-2 col-sm-2 sidebar-holder">
                    <aside class="sidebar">
                        <a href="#" class="mobile-button-close">
                            <i class="material-icons">
                                close
                            </i>
                        </a>
                        <ul class="sidebar-menu">

                        </ul>
                    </aside>
                </div>

            </div>
            <!--end row-->
        </div>

        <footer class="footer-holder" style="bottom:0;">
            <ul class="footer-menu mb-0">
                <li><a href="~/">Начало</a></li>
                <li><a href="~/За-нас">За нас</a></li>
                <li><a href="~/Всички-Новини">Новини</a></li>
                <li><a href="~/Всички-системи">Каталог системи </a></li>
                <li><a href="~/Карта-на-сайта">Карта на сайта </a></li>
                <li><a href="~/Контакти">За контакти</a></li>
            </ul>

            <div class="footer-logo w-100 row p-0">
                <div class="col-md-7 col-sm-12 text-sm-center d-inline-block text-md-right">
                    <a href="~/"><img src="~/Content/Images/logo.png" rel="shortcut icon" style="max-height:100px"> </a>
                </div>

                <div class=" col-md-4 d-inline-block text-sm-center  text-md-right"
                    style="font-size:14px;z-index:50; padding-top:20px; ">
                    <div class="col-md-12 ">
                        <a href="~/Правила-за-ползване-на-сайта" target="_blank" style="color:white"> Правила за
                            ползване на сайта</a>
                    </div>
                    <div class="col-md-12">
                        <a href="~/Политика-за-защита-на-лични-данни" target="_blank" style="color:white"> Политика за
                            защита на лични данни</a>
                    </div>
                    <div class="col-md-12">
                        <a href="~/Декларация-за-използване-на-бисквитки" target="_blank" style="color:white">
                            Декларация за използване на бисквитки</a>
                    </div>
                </div>
            </div>

        </footer>

        <script src="~/Scripts/main.js"></script>

        <div id="success" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content .modal-margin-top">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                        <h2>Благодарим Ви!</h2>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modals error -->
        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content .modal-margin-top">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                        <h2 style="color:red;">Извинете</h2>

                        <p style="color:red;"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="eupopup eupopup-bottom">
        </div>
    </body>

</html>


{{!-- <script type="text/javascript">
    $(document).ready(function () {
        var success = '@ViewBag.Sucess';
        var error = '@ViewBag.Message';
        var tempsuccess = '@TempData["TempSucess"]'
        if (success != "" || tempsuccess != "") {
            $("#success").modal('show');
        }
        else if (error != "") {
            $("#error").modal('show');
        };
    });
</script> --}}



</body>

</html>