.left-panel .dropright a:hover{
    background-color:transparent;
    color: brown;
    cursor: pointer;
}



.left-panel .dropright a{
    background-color:transparent;    
    border: none;
    font-weight: bold;
    
}

