
.dropdown-menu.show{
background-color: darkorange;
}
video {
    object-fit: fill;
  }
   a{
          color:#b11217;
      }
     a:hover{
         color:#b11218;
     }
  .navbar_fixed {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .5);
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      z-index:1;
  }
  
   .offset-left{
              padding-left:78px;
          }
  #bimis:hover {
      color: #b11217;
  }
  
  .flipswitch {
      position: relative;
      background: white;
      width: 120px;
      height: 40px;
      -webkit-appearance: initial;
      border-radius: 3px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      outline: none;
      font-size: 14px;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid #ddd;
  }
  
      .flipswitch:after {
          position: absolute;
          top: 5%;
          display: block;
          line-height: 32px;
          width: 45%;
          height: 90%;
          background: #b11217;
          box-sizing: border-box;
          text-align: center;
          transition: all 0.3s ease-in 0s;
          color: white;
          border: #888 1px solid;
          border-radius: 3px;
      }
  
      .flipswitch:after {
          left: 2%;
          content: "OFF";
      }
  
      .flipswitch:checked:after {
          left: 53%;
          content: "ON";
      }
  
  
  /*Start of declaration*/
  .ul-declaration {
      list-style: decimal;
  }
  
      .ul-declaration li {
          font-size: 1.1em;
          margin-top: 20px;
          font-style: oblique;
          font-weight: 600;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          text-align: left;
      }
  
          .ul-declaration li:hover {
              font-size: 1.136em;
              cursor: default;
          }
  
      .ul-declaration article {
          font-size: 0.9em;
          margin-top: 5px;
          font-weight: 200;
          z-index:50;
      }
  /*End of declaration*/
  
  .modal-message .modal-dialog .modal-content .modal-header p {
      display: block;
  }
  
  .modal-margin-top {
      margin-top: 200px;
  }
  /*========================================================================================== */
  /* Contact Success and error Area css
  ============================================================================================ */
  .modal-message .modal-dialog {
      position: absolute;
      top: 36%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) !important;
      -ms-transform: translateX(-50%) translateY(-50%) !important;
      transform: translateX(-50%) translateY(-50%) !important;
      margin: 0px;
      max-width: 500px;
      width: 100%;
  }
  
      .modal-message .modal-dialog .modal-content .modal-header {
          text-align: center;
          display: block;
          border-bottom: none;
          padding-top: 50px;
          padding-bottom: 50px;
      }
  
          .modal-message .modal-dialog .modal-content .modal-header .close {
              position: absolute;
              right: 15px;
              top: -15px;
              padding: 0px;
              color: #fff;
              opacity: 1;
              cursor: pointer;
          }
  
          .modal-message .modal-dialog .modal-content .modal-header h2 {
              display: block;
              text-align: center;
              color: #2bc0a4;
              padding-bottom: 10px;
          }
  
          .modal-message .modal-dialog .modal-content .modal-header p {
              display: block;
          }
  
  /* End Contact Success and error Area css
  ============================================================================================ */
  img {
      max-width: 100%;
  }
  
  body {
      background: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:white;
  }
  
  .left-panel {
      background: #cf6603;
      position: fixed;
      left: 0;
      top: 0;
      width: 120px;
      height: 100%;
      box-sizing: border-box;
      padding: 18px 20px;
      z-index:2;
  }
  
      .left-panel a {
          color: #fff;
          display: block;
          margin-bottom: 20px;
      }
  
          .left-panel a i {
              font-size: 38px;
          }
  
  .wrapper {
      padding-left: 78px;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
  }
  
  
  .logo {
      text-align: center;
      background:white;
      box-sizing:0;
      background-color:white

  }
  
      .logo a {
          color: white;
          text-decoration: none;
          /*font-size: 30px;*/
      }
  
  .header-holder {
      position: relative;
  }
  
  .sidebar {
      position: fixed;
      right: 0;
      top: 0;
      width: 270px;
      background: #fff;
      padding: 20px;
      box-sizing: border-box;
      height: 100%;
      z-index:2;
  }
  
  @media (max-width: 1480px) {
      .sidebar {
          transform: translateX(270px);
      }
  }
  
  .mobile-button, .mobile-button-close {
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      color: #000;
  }
  
      .mobile-button i, .mobile-button-close i {
          font-size: 28px;
      }
  
      .mobile-button:hover, .mobile-button-close:hover {
          color: #908080;
      }
  
  .mobile-button-close {
      top: 10px;
  }
  
  .sidebar-menu {
      list-style: none;
      padding: 0 10px;
  }
  
      .sidebar-menu li {
          display: block;
          margin-bottom: 20px;
      }
  
          .sidebar-menu li ul {
              padding: 10px;
          }
  
              .sidebar-menu li ul li {
                  margin-bottom: 10px;
                  font-size: 14px;
              }
  
                  .sidebar-menu li ul li:last-child {
                      margin-bottom: 0;
                  }
  
      .sidebar-menu a {
          color: #000;
      }
  
          .sidebar-menu a:hover {
              text-decoration: none;
              color: #908080;
          }
  
  .article-big-img {
      position: relative;
  }
  
  .article-img-text {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 40px;
      box-sizing: border-box;
      top: 0;
      margin: auto;
  }
  
      .article-img-text h2 {
          margin: 20px 0 40px;
          font-size: 20px;
          color: #fff;
      }
  
  @media (min-width: 1200px) {
      .article-img-text h2 {
          margin: 150px 0 40px;
          font-size: 44px;
      }
  }
  
  .line {
      background: #b11217;
      height: 4px;
      width: 30%;
      margin-bottom: 10px;
      display: block;
  }
  
  .red-btn {
      background: #b11217;
  }
  
      .red-btn:hover {
          background: #bf0442;
          text-decoration: none;
      }
  
  .view-more-btn, .red-btn {
      padding: 10px;
      transition: background 0.2s ease;
  }
  
  @media (min-width: 1200px) {
      .view-more-btn, .red-btn {
          padding: 10px;
          
      }
  }
  
  .view-more-btn {
      background: #fff;
      color: #000;
  }
  
      .view-more-btn:hover {
          background: #908080;
          text-decoration: none;
          color: #fff;
      }
  
  .news-slider {
      background: #908080;
      color: #fff;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
  }
  
      .news-slider h3 {
          font-size: 18px;
      }
  
      .news-slider a {
          font-size: 14px;
      }
  
      .news-slider .carousel-inner {
          padding-bottom: 45px;
      }
  
  .news-col {
      padding: 30px 20px;
  }
  
      .news-col h3 {
          font-size: 18px;
          border-bottom: 1px solid #908080;
          padding-bottom: 10px;
          margin-bottom: 20px;
      }
  
  .news {
      list-style: none;
      padding: 0;
      margin-bottom: 40px;
  }
  
      .news li {
          margin-bottom: 10px;
      }
  
      .news a {
          border-bottom: #000;
          color: #000;
          font-size: 14px;
      }
  
  .bottom-news-col {
      margin-top: 40px;
      padding: 0 20px;
  }
  
  .button-centered {
      display: table;
      width: auto;
      margin: 30px auto;
  }
  
  .footer-holder {
      text-align: center;
      box-sizing: border-box;
      margin: auto;
      background:#8b3c00;
      color: #fff;
      padding: 40px 250px 20px 78px;
  }
  
  .footer-menu {
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #2a2a2a;
      padding-bottom: 20px;
      margin-bottom: 40px;
  }
  
      .footer-menu li {
          display: inline-block;
          margin-right: 20px;
      }
  
          .footer-menu li:last-child {
              margin-right: 0;
          }
  
      .footer-menu a {
          color: #fff;
      }
  
  .footer-logo {
      text-align: center;
      font-size: 50px;
  }
  
  .social {
      list-style: none;
      padding: 0;
      display: table;
      width: auto;
      margin: 20px auto;
  }
  
      .social li {
          display: inline-block;
          margin-right: 10px;
      }
  
          .social li:last-child {
              margin-right: 0;
          }
  
      .social a {
          color: #b5b5b5;
      }
  
  .pagination a {
      color: #b11217;
  }
  
      .pagination a:hover {
          color: #908080;
      }
  
  @media (max-width: 1480px) {
      .content-holder {
          width: 100%;
          max-width: 100%;
          flex: auto;
      }
  
      .footer-holder {
          padding: 20px 0 40px 78px;
      }
  
      .mobile-button, .mobile-button-close {
          display: block;
      }
  
      .menuActive .sidebar {
          transform: translateX(0);
      }
  }
  
  @media (max-width: 480px) {
      .left-panel {
          width: 50px;
      }
  
          .left-panel a i {
              font-size: 20px;
          }
          .offset-left{
              padding-left:50px;
          }
          .fillWidth{
              width:480px;
              height:250px;
          }
          .logo{
              font-size:14px;
          }
             #dbpad{
             padding-left:20px
         }
              .video-margin{
          margin-top:130px;
      }
             .view-more-btn, .red-btn {
          padding: 6px;
          margin-right:5px;
          
      }
  }
  
  @media (min-width: 480px) and  (max-width:768px) {
       .fillWidth{
              width:768px;
              height:350px
          }
        .logo{
              font-size:20px;
          }
         #dbpad{
             padding-left:50px
         }
      .video-margin {
          margin-top: 240px;
      }
  }
  @media screen and (min-width:1080px) {
      #list-text {
          max-height: 100px;
          min-height: 100px;
      }
  
      #list-title {
          max-height: 75px;
          min-height: 75px;
      }
      .fillWidth{
              width:1480px;
             
          }
       .logo{
              font-size:30px;
          }
       .video-margin{
          margin-top:380px;
      }
      
  }
  @media (min-width:768px){
      #dbpad{
             padding-left:200px
         }
       .video-margin{
          margin-top:380px;
      }
  }
  @media (min-width:768px) and (max-width:990px) {
      #list-text {
          max-height: 200px;
          min-height: 200px;
      }
  
      #list-title {
          max-height: 152px;
          min-height: 152px;
      }
      .fillWidth{
              width:990px;
            
          }
  }
  
  @media (min-width:990px) and (max-width:1080px) {
      #list-text {
          max-height: 150px;
          min-height: 150px;
      }
  
      #list-title {
          max-height: 120px;
          min-height: 120px;
      }
      .fillWidth{
              width:1080px;
            
          }
  }
  @media (min-width: 1480px) {
      row{
          padding-right:80px;
      }
  
      .fillWidth{
              width:1700px;
             
          }
  
      .video-margin{
          margin-top:380px;
      }
  
      
  }
  .video-position{
          position:absolute;
          top:0;
          z-index:-50;
          max-height:500px;
  
      }
  
  .mytoggle {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -99999px;
  }
  
  .mytoggle + label {
    font-family: Trebuchet, Arial, sans-serif;
    vertical-align: middle;
    width: 120px;
    height: 40px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor:pointer;
    background-color: #bdc3c7;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    text-align:match-parent;
  }
  
  .mytoggle + label:before {
    width: 60px;
    height: 40px;
    left: 0;
    top: 0;
    border-radius: 0px;
    z-index: 2;
    content: "ON OFF";
    display: block;
    position: absolute;
    background: #7f8c9a;
    font-size: 14.99px;
    font-weight: 700;
    text-transform: uppercase;
    text-indent: -52px;
    word-spacing: 30px;
    color: #fff;
    white-space: nowrap;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    padding-top:9px;
    
  }
  
  .mytoggle:checked + label {
    background-color: #b11218;
  }
  
  input.mytoggle:focus + label {
    outline: 0;
  }
  
  .mytoggle:checked + label:before {
    background-color: white;
    color: white;
    left: 60px;
  }
  