<link href="~/Vendors/ShiftingReality/Shifting.css" rel="stylesheet" />

<div class="row video-margin">
    <section class="main_video_area ">
        <div class="homepage-hero-module">
            <div class="video-container">
                <video width="1650" height="500" autoplay loop class="fillWidth video-position" preload="auto" muted>
                    <source src="/static/main-video/SampleVideo_1280x720_2mb.mp4" type="video/mp4" />
                    Вашият браузър не поддържа видео. Моля обновете браузъра си!
                </video>
                
            </div>
        </div>
    </section>
  
</div>