<!-- Start Home -->
  <section class="home wow flash" id="home">
  	 <div class="container">
  	 	  <h1 class="wow slideInLeft" data-wow-delay="1s">If you want <span>to be</span> the best</h1>
  	 	  <h1 class="wow slideInRight" data-wow-delay="1s">You have to train <span>with</span>the best</h1>
  	 </div>
  	  {{!-- <!-- go down -->
  	      <a href="#about" class="go-down">
  	      	  <i class="fa fa-angle-down" aria-hidden="true"></i>
  	      </a>
  	  <!-- go down --> --}}

  </section>
  <!-- End Home -->