body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.nav > li > a {
    padding: 10px 15px !important;
}




/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*
    *************************************************************************************
*/

/***** MODAL PROPERTIES *****/
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: none;
    outline: none;
}

    .modal-content iframe {
        border: none;
        padding: 0;
        margin: 0;
    }


/***** MEDIA QUERIES *****/
@media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height: 100px;
        padding: 0;
        margin: 0;
    }

    .modal-content {
        padding: 0;
        margin: 0;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }

    .close {
        margin: 0px 0 0 0;
    }
}

@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
   
}

/*My custom Css ========================================================*/
.gallery > .thumbnails {
    text-align: justify !important;
    margin-right: 10px;
    height: 250px;
}

.thumbnails img {
    /*height: 80px;*/
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
}

    .thumbnails img:hover {
        border: 4px solid #00ccff;
        cursor: pointer;
    }

.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}

.selected img {
    opacity: 0.5;
}

/*Social buttons*/

.outOfWork:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*video gallery Css ========================================================*/
.bs-example {
    margin: 20px;
}

.modal-content iframe {
    margin: 0 auto;
    display: block;
}

.main-container {
    padding: 10px 15px;
}

.skyblue {
    background-color: #22c8ff;
}

.deepskyblue {
    background-color: #00bfff;
}

.darkerskyblue {
    background-color: #00a6dd;
}

.carousel-indicators {
    top: 520px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    top: 220px;
    bottom: unset;
}

.carousel .item {
    /*min-height: 600px;
        height: 100%;
        width: 100%;*/
}

.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    background-color: #09c;
}

.carousel-caption h3 {
    padding: .5em;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

/* Animation delays */
.carousel-caption h3:first-child {
    animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}

.carousel-caption button {
    animation-delay: 3s;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.p {
    padding-top: 125px;
    text-align: center;
}

/*.p a {
            text-decoration: underline;
        }*/

#myDiv {
    position: relative;
}

    #myDiv img {
        width: 100%;
        height: 510px;
        border: 4px solid black;
        border-radius: 8px;
    }

    #myDiv > .posAbsolute2 {
        /*line-height: 2.5em !important;*/
    }
 @media only screen and (max-width: 360px) {
    /***** MODAL PROPERTIES *****/
    .textUponVideo {
        height: 210px;
    }
    .carousel-control.right, .carousel-control.left {
        top: 10em;
    }
   #myDiv img {
        /*height: 210px;*/
       height: auto;
       
    }
   .carousel-indicators {
    top: 15em;
}
}

.posAbsolute2 {
    position: absolute !important;
    top: 20px;
    left: 25px;
    width: 100%;
    color: green;
    z-index: 1;
    font-family: Halvetica;
    font-size: 16px;
}


.modal-body {
   
    width: 100%;
    /*height: 400px;*/
    background-color: black;
    border-radius: 5px;
}

.sidebar {
    /*margin-top: 175% !important;*/
    background-color: transparent !important;
}

.close {
    color: white !important;
    font-size:30px;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
    margin-top: 30% !important;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    left: 50%;
    margin-left: -10px;
    margin-top: 30% !important;
}

/*custom for the video gallery====================================================*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    border: 3px solid black;
    
}

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }



.textUponVideo {
    text-align: center;
}

.yellowDate {
    color: #e0e057;
}

/*custom for the gallery page====================================================*/

.galleryImages {
    text-align: center;
    margin: 10%;
}

ul#breadcrumbs {
    list-style: none;
    /* optional */
    margin: 100px;
    padding: 10px 2px 10px 10px;
    background: #000;
    width: 295px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #222;
    -moz-box-shadow: 0 0 3px 0 #000;
    -webkit-box-shadow: 0 0 3px 0 #000;
    -ms-box-shadow: 0 0 3px 0 #000;
    box-shadow: 0 0 3px 0 #000;
}

ul#breadcrumbs li {
    float: left;
    background: #93ce68 url(bg.png) no-repeat right;
    height: 30px;
    padding: 0 23px 0 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 32px;
}

ul#breadcrumbs li.active {
    background: url(bg.png) no-repeat right;
    color: #000;
}

ul#breadcrumbs li a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 32px;
    text-shadow: 0 0 2px #222;
}

ul#breadcrumbs li a:hover {
    color: #a2ff00;
}
.opalqnka {
  display:   -webkit-inline-box;
}

.thumbnails img {
    height: none !important;
    width: 100% !important;
}

.thumbnails{
    margin-left: 50px;
    height: 300px;
}
.thumbnails-gallery{

    width: 180px;
    height: 200px;
    display: inline-block;
    margin-right: 20px;
}

.thumbnails-gallery img{
    width: 100%;
    height: 100%;
}
    .thumbnails-gallery span {
    text-align:left;
    }
    #myDiv img {
        object-fit:contain !important;
    }

    @media only screen and (max-width: 360px) {
    .thumbnails {
        display: inline;
    }
}
    .goRight {
        float: right;
    }

    @media(max-width: 360px) {
         .copyright{
             text-align: center;
         }
           .yoyo {
               text-align: center;
               float: none;
           }
    }
   
    .leav-review {
        position:absolute;
        right:19.5%;
    }

    .gplus-small {
        display:none;
    }
    .sidebar-info a {
    color:white;
}

@media only screen and (max-width: 520px) {
    /***** MODAL PROPERTIES *****/
    .leav-review {
        position: unset;
        right: 0;
    }
    .gplus-big {
        display:none;
    }
    .gplus-small {
        display:block;
    }
    .sidebar-info a {
    color:#E0ED5F;
    }
}

#footer-wrap a {
    font-size: 14px;
}

.navbar-collapse {
    padding-left: 65px; 
    overflow-x: visible;
    
}


.sidebar-nav {
    border-style: outset;
    border-color: #ffd800;
    border-radius: 5px;
}

#bs-example-navbar-collapse-1{
    padding-left: 0px;
    padding-right: 0px;
}

overlay {
     visibility:hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}
overlay-div{
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}